.feedback {
  background-color: $color-deep-sky-blue;
  background-image: $pearl-to-sky;

  @include vp-1023 {
    background-image: none;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 164px;
    padding-bottom: 251px;
    color: $color-default-white;

    @include vp-1279 {
      gap: 0;
    }

    @include vp-1023 {
      grid-template-columns: 1fr;
      padding-top: 45px;
      padding-bottom: 125px;
    }

    @include vp-767 {
      padding-top: 47px;
      padding-bottom: 90px;
    }
  }

  &__image {
    max-width: 510px;
    background: transparent url("./../img/feedback.png") no-repeat top 59% left 0 / contain;

    @include retina {
      background-image: url("./../img/feedback@2x.png");
    }

    @include vp-1023 {
      background-image: none;
      display: none;
    }
  }

  &__form {
    max-width: 585px;

    @include vp-1023 {
      max-width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    margin-left: -4px;

    @include vp-1023 {
      margin-left: 0;
      margin-bottom: 7px;
    }

    @include vp-767 {
      margin-bottom: 7px;
      font-size: 30px;
      line-height: 42px;
    }
  }
}
