// Colors
// ---------------------------------

// Default

$color-default-black:               #041827;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0.7);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-sky-blue:                   #00b2ff;
$color-deep-sky-blue:              #00b3ff;
$color-prussian-blue:              #004968;
$color-alice-blue:                 #f2f5f7;
$color-torch-red:                  #ff1553;
$color-whisper:                    #ebebeb;
$color-black-pearl:                rgba(4, 24, 39, 0.5);
$color-black-pearl-transparent:    rgba(4, 20, 39, 0.15);


// Gradient

$black-to-bottom:                    linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
$pearl-to-sky:                       linear-gradient(139deg, rgba(4, 24, 39, 0.5) 33.4%, transparent 33.4%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-roboto:                         "Roboto Condensed", "Arial", sans-serif;
$ff-mono:                           "PT Mono";

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
